.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 35%));
  justify-content: space-around;
  justify-items: center;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, minmax(30px, 50px));
}

.square {
  position: relative;
  border: 1px solid;
  box-sizing: border-box;
}

.square::before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.square .content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
